name: Docker image

on:
  push:
    branches:
    - master
    - releases/*

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.18
      uses: actions/setup-go@v1
      with:
        go-version: 1.18
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Build
      run: |
        make build

    - name: Image onecloud-operator
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: registry.cn-beijing.aliyuncs.com/yunionio/onecloud-operator
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        registry: registry.cn-beijing.aliyuncs.com
        snapshot: true
        dockerfile: images/onecloud-operator/Dockerfile
